# Maven target directory
target/

# Compiled class files
*.class

# Logs
*.log

# Package Files
*.jar
*.war
*.ear

# IDE specific directories and files (optional, depending on your IDE)
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
